@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



:root{

    /* cores globais */
    --cor-fundo: #faf6f1;
    --cor-destaque2: #413075;
    --cor-destaque1: #9bf0eb;
    --cor-destaque3: #e60073;
    --cor-secundaria:#fec8ae;
    --font-h1: 'Varela Round', sans-serif;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font-h1);
}

